{
	"id": "84195288-b181-4737-8c83-0d9037c76841",
	"name": "Local VM",
	"values": [
		{
			"key": "JIRA_BASEURL",
			"value": "JIRA_BASEURL_VALUE",
			"enabled": true
		},
		{
			"key": "JIRA_USERNAME",
			"value": "JIRA_USERNAME_VALUE",
			"enabled": true
		},
		{
			"key": "JIRA_PASSWORD",
			"value": "JIRA_PASSWORD_VALUE",
			"enabled": true
		}
	],
	"_postman_variable_scope": "environment",
	"_postman_exported_at": "2021-06-22T14:27:32.551Z",
	"_postman_exported_using": "Postman/8.6.2"
}
